In [2]:
import pandas as pd
import matplotlib as plt

In [7]:
arq= pd.read_csv(r'C:\Users\leticia.santos\Documents\Tryingdo\STP-20230105101319492.csv', encoding='latin-1', sep= ';')

In [8]:
arq

,Data,21082 - Inadimplência da carteira de crédito - Total - %,21083 - Inadimplência da carteira de crédito - Pessoas jurídicas - Total - %,21084 - Inadimplência da carteira de crédito - Pessoas físicas - Total - %
0,mar/11,"3,17","1,96","4,62"
1,abr/11,"3,24","2,04","4,67"
2,mai/11,"3,37","2,15","4,82"
3,jun/11,"3,32","2,09","4,79"
4,jul/11,"3,42","2,18","4,9"
...,...,...,...,...
136,jul/22,"2,78","1,51","3,65"
137,ago/22,"2,83","1,52","3,72"
138,set/22,"2,9","1,57","3,81"
139,out/22,3,"1,67","3,89"
140,nov/22,"3,06","1,78","3,92"